<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.personal.korail_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".ServiceCenterSearchActivity"></activity>
        <activity android:name=".NursingRoomActivity" />
        <activity android:name=".FacilitiesActivity" />
        <activity android:name=".ToiletActivity" />
        <activity android:name=".ServiceCenterActivity" />
        <activity android:name=".EventDetailActivity" /> <!-- <activity android:name=".LostAndFoundStepFourth"></activity> -->
        <activity android:name=".EventWriteReviewActivity" /> <!-- <activity android:name=".LostAndFoundStepThird" /> -->
        <!-- <activity android:name=".LostAndFoundStepSecond" /> -->
        <!-- <activity android:name=".LostAndFoundStepFirst" /> -->
        <activity android:name=".LostAndFoundStepMain" />
        <activity android:name=".WriteReviewActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyALQloDgddqjwIowz992BWzVc1N6Ji0a8g" /> <!-- <activity android:name=".ShowPlace"></activity> -->
        <activity android:name=".scheduleStaionSearch" />
        <activity android:name=".scheduleStationInfo" />
        <activity android:name=".LostAndFoundSearch" />
        <activity android:name=".lostAndFoundCallNLocation" />
        <activity android:name=".ChatListActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".EventDetailWithReviewActivity" />
        <activity android:name=".EventListActivity" />
        <activity android:name=".CulturalFacilitiesDetailActivity" />
        <activity android:name=".CulturalFacilitiesListActivity" />
        <activity android:name=".ScheduleActivity" />
        <activity android:name=".ChattingActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.HTTPConnectionService" />
    </application>

</manifest>